@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;900&display=swap");
* {
  margin: 0;
  padding: 0;
  list-style: none; }

ul {
  padding-left: 0; }

a:link,
a:visited,
a:active {
  text-decoration: none;
  color: white; }

body {
  background: #323643; }

.blur-image {
  filter: blur(11px); }

.colum-list-suspects {
  background-color: #606470;
  padding: 2%; }

.base-list, .list-weapons,
.list-suspects,
.list-rooms {
  color: white;
  font-weight: 500;
  font-style: italic; }

.margin-5 {
  margin-top: 2%; }

.tit-list-suspects,
.tit-list-weapons,
.tit-list-rooms {
  padding-top: 8%;
  color: #8de0a6;
  font-size: 20px;
  font-weight: bold; }

.tit-points, #container-score,
.tit-weapon {
  color: #f27c7c;
  font-size: 22px;
  font-weight: bold; }

#name_suspect,
#name_weapon,
#name_rooms {
  font-size: 18px;
  font-weight: 500; }

.name_correct {
  color: #faffa8;
  padding: 2%;
  background-color: rgba(240, 240, 240, 0.1); }
  .name_correct span {
    font-style: italic; }

.name_incorrect {
  color: #f56d8f;
  padding: 2%; }
  .name_incorrect span {
    font-style: italic; }

#person_murder {
  text-shadow: 1px 1px 2px black;
  color: #6bacbf;
  font-size: 24px;
  font-weight: bold; }
  #person_murder span {
    color: #f27c7c; }

.cardz, .cardz-weapons, .cardz-rooms {
  background-color: #f27c7c;
  box-shadow: 0 4px 8px 0 rgba(120, 72, 72, 0.2);
  transition: 0.3s;
  width: 80%;
  border-radius: 15px;
  height: 244px;
  width: 139px; }

.cardz-weapons {
  background-color: #6bacbf; }

.cardz-rooms {
  background-color: #8de0a6; }

.cardz-title {
  font-weight: bold;
  text-decoration: none;
  color: white;
  text-align: center; }

.cardz:hover, .cardz-weapons:hover, .cardz-rooms:hover {
  box-shadow: 0 8px 16px 0 rgba(255, 255, 255, 0.75); }

.container {
  padding: 2px 16px; }

.tit-all-characters {
  color: #f56d8f;
  text-align: center;
  font-weight: 900;
  font-size: 42px; }

.cross-text {
  text-decoration: line-through; }

.fa-solid {
  color: #f56d8f !important;
  padding-right: 4px; }

#container-score {
  color: yellow; }

.swa-text {
  font-size: 22px;
  font-weight: normal;
  color: #f56d8f; }
  .swa-text span {
    color: gold;
    font-size: 24px;
    font-style: italic;
    font-weight: bold; }
  .swa-text span:nth-child(1) {
    color: tomato; }

.txt-fail {
  font-size: 22px;
  font-weight: normal;
  color: #f56d8f; }
  .txt-fail span {
    font-weight: 24px;
    color: tomato;
    font-weight: bold; }
    .txt-fail span :nth-child(2) {
      color: gold; }
